<!DOCTYPE html>
<html lang="en">

<head>
    <title>Let's play Rock, Paper or Scissor!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=data:, rel=icon>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="app" v-cloak>
        <!-- Display game -->
        <div class="gameTemplate">
            <div class="gameSelectionArea">
                <h1>Let's play Rock, Paper or Scissor!</h1>
                <h3>Select one:</h3>
                <div class="selectionItems">
                    <label>
                        <input type="radio" value="Rock" name="choice" checked>
                        Rock <img src="./images/rock.png" alt="Rock">
                    </label>
                    <label>
                        <input type="radio" value="Paper" name="choice">
                        Paper <img src="./images/paper.png" alt="Paper">
                    </label>
                    <label>
                        <input type="radio" value="Scissor" name="choice">
                        Scissor <img src="./images/scissor.png" alt="Scissor">
                    </label>
                </div>
                <div>
                    <button v-if="isNewGame" @click="startedNewGame();makeUserSelection();makeComputerSelection();" id="playButton" class="playButton">Play!</button>
                    <button v-else @click="resetGame" id="playButton" class="playButton">Try again!</button>
                </div>
            </div>
            <!-- Display results -->
            <div class="gameResultArea">
                <h1 v-if="!isNewGame">Game result:</h1>
                <!-- User selected message -->
                <div class="selectionMessage">
                    <template v-if="!isNewGame && userSelection === 'Rock'">
                        <div id="userSelection">
                            <h3>You selected:</h3>
                            <p>Rock</p>
                            <img src="./images/rock.png" alt="Rock">
                        </div>
                    </template>
                    <template v-if="!isNewGame && userSelection === 'Paper'">
                        <div id="userSelection">
                            <h3>You selected:</h3>
                            <p>Paper</p>
                            <img src="./images/paper.png" alt="Paper">
                        </div>
                    </template>
                    <template v-if="!isNewGame && userSelection === 'Scissor'">
                        <div id="userSelection">
                            <h3>You selected:</h3>
                            <p>Scissor</p>
                            <img src="./images/scissor.png" alt="Scissor">
                        </div>
                    </template>
                    <!-- Computer selected message -->
                    <template v-if="!isNewGame && computerSelection === 'Rock'">
                        <div id="computerSelection">
                            <h3>Computer selected:</h3>
                            <p>Rock</p>
                            <img src="./images/rock.png" alt="Rock">
                        </div>
                    </template>
                    <template v-if="!isNewGame && computerSelection === 'Paper'">
                        <div id="computerSelection">
                            <h3>Computer selected:</h3>
                            <p>Paper</p>
                            <img src="./images/paper.png" alt="Paper">
                        </div>
                    </template>
                    <template v-if="!isNewGame && computerSelection === 'Scissor'">
                        <div id="computerSelection">
                            <h3>Computer selected:</h3>
                            <p>Scissor</p>
                            <img src="./images/scissor.png" alt="Scissor">
                        </div>
                    </template>
                </div>
                <!-- Display result -->
                <template v-if="!isNewGame && gameResult(userSelection, computerSelection) === 'win'">
                    <div id="winMessage" class="resultMessage">
                        <h3>You won!</h3>
                        <img src="./images/happy.png" alt="Happy">
                    </div>
                </template>
                <template v-if="!isNewGame && gameResult(userSelection, computerSelection) === 'lose'">
                    <div id="loseMessage" class="resultMessage">
                        <h3>You lost!</h3>
                        <img src="./images/sad.png" alt="Sad">
                    </div>
                </template>
                <template v-if="!isNewGame && gameResult(userSelection, computerSelection) === 'tie'">
                    <div id="tieMessage" class="resultMessage">
                        <h3>It's a tie!</h3>
                        <img src="./images/tie.png" alt="Tie">
                    </div>
                </template>
            </div>
        </div>
    </div>
</body>
</html>
