<!DOCTYPE html>
<html lang="en">

<head>
    <title>Let's play Rock, Paper or Scissor!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=data:, rel=icon>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="app" v-cloak>
        <!-- Display game -->
        <div class="gameTemplate">
            <div class="gamePlayArea">
                <div class="gameSelectionArea">
                    <h1>Let's play Rock, Paper or Scissor!</h1>
                    <h3>Select one:</h3>
                    <div class="selectionItems">
                        <label v-for="(item, index) in gameChoices">
                            <input type="radio" :value="item" name="choice" :checked="index === 0">
                            {{item}} <img class="selectionImage" :src="'./images/' + item.toLowerCase() + '.png'" :alt="item">
                        </label>
                    </div>
                    <div>
                        <button v-if="isNewGame" @click="startedNewGame();makeUserSelection();makeComputerSelection();" id="playButton" class="playButton">Play!</button>
                        <button v-else @click="resetGame" id="playButton" class="playButton">Try again!</button>
                    </div>
                </div>
                <div class="gameScoreBoardArea">
                    <score-board />
                </div>
            </div>
            <!-- Display results -->
            <div class="gameResultArea">
                <div v-if="!isNewGame">
                    <h1>Game result:</h1>
                    <!-- User selected message -->
                    <div class="selectionMessage">
                        <div id="userSelection">
                            <h3>You selected:</h3>
                            <p>{{userSelection}}</p>
                            <img :src="'./images/' + userSelection.toLowerCase() + '.png'" :alt="userSelection">
                        </div>
                        <!-- Computer selected message -->
                        <div id="computerSelection">
                            <h3>Computer selected:</h3>
                            <p>{{computerSelection}}</p>
                            <img :src="'./images/' + computerSelection.toLowerCase() + '.png'" :alt="computerSelection">
                        </div>
                    </div>
                    <!-- Display result -->
                    <div :id="gameResult(userSelection, computerSelection)" :class="gameResult(userSelection, computerSelection)" class="resultMessage">
                        <h3>{{getResultMessage()}}</h3>
                        <img :src="'./images/' + getResultImage() + '.png'" :alt="getResultMessage()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEMPLATE FOR OUR SCORE BOARD COMPONENT -->
    <script type='text/x-template' id='score-board'>
        <div v-if='!deleted'>
            <fieldset>
                <legend>Score Board:</legend>
                <ul>
                    <li>Round #: TBD</li>
                    <li>Winner: TBD</li>
                </ul>
            </fieldset>
            <!-- <button v-on:click='deleteRound'>Delete from history</button> -->
        </div>
    </script>
</body>
</html>
