/* App CSS */
/* Waits for data to be loaded */

[v-cloak] {
    display: none;
}

body {
    background-color: yellowgreen;
    text-align: center;
}

.playButton {
    background-color: yellow;
    cursor: pointer;
    padding: 5%;
    margin: 5%;
}

.playButton:hover {
    background-color: red;
}

.message {
    padding: 1%;
    margin: 1%;
}
