/* App CSS */
/* Waits for data to be loaded */

[v-cloak] {
    display: none;
}

body {
    background-color: yellowgreen;
}

.gameTemplate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gameSelectionArea {}

.gamePlayArea {
    width: 60%;
}

.gameScoreBoardArea {}

.selectionItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selectionImage {
    height: 132px;
}

.gameResultArea {
    width: 40%;
}

.playButton {
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
    padding: 5%;
    margin: 5%;
    width: 85%;
}

.playButton:hover {
    background-color: red;
}

.selectionMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.resultMessage {
    padding: 1%;
    margin: 1%;
    text-align: center;
}
