doctype html
html(lang='en-US')
  head
    link(rel='shortcut icon', href='/static/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/css/form.css')
    title Dado Tea Lunch Special
  body
    header
      article
        h1
          | Dado Tea Lunch Special
        h3
          | Ordering System
        // Menu header
        p
          | Monday through Friday
          br
          | 				11am - 3pm
        p
          | Includes sandwich, snack, and drink.
    br
    a(href="/orders")
      button.placeOrder View all orders
    br
    br
    fieldset
      legend Menu
      ul(style='list-style: none;')
        li
          b Sandwiches
          br
          br
          ul(style='list-style: none;')
            b Monday
            br
            br
            li  Tomato Mozzarella
            li  Chicken Salad
            br
          ul(style='list-style: none;')
            b  Tuesday
            br
            br
            li  Greek Salad Wrap
            li  Toto Wrap
            br
          ul(style='list-style: none;')
            b  Wednesday
            br
            br
            li  Red Pepper Hummus
            li  Roasted Turkey
            br
          ul(style='list-style: none;')
            b  Thursday
            br
            br
            li  Carrot-Ginger Hummus Wrap
            li  Egg Salad
            br
          ul(style='list-style: none;')
            b  Friday
            br
            br
            li  Dado Wrap
            li  Tuna Salad
            p Gluten Free Bread (75¢ extra)
        br
        li(style='list-style: none;')
          b Snacks
          br
          br
          ul(style='list-style: none;')
            li  Apple
            li  Banana
            li  Potato Chips
        br
        li(style='list-style: none;')
          b Drinks
          br
          br
          ul(style='list-style: none;')
            li(style='list-style: none;')
              b
                i Black Tea
              br
              br
              ul(style='list-style: none;')
                li  Hot Black Tea - Keemun
                li  Hot Black Tea - Decaf Keemun
                li  Iced Black Tea - Keemun
                li  Iced Black Tea - Decaf Keemun
              br
              br
              li(style='list-style: none;')
              b
                i Green Tea
              br
              br
              ul(style='list-style: none;')
                li  Hot Green Tea - Sencha
                li  Hot Green Tea - Decaf
                li  Iced Green Tea - Sencha
                li  Iced Green Tea - Decaf
              br
              br
              li(style='list-style: none;')
              b
                i Coffee
              br
              br
              ul(style='list-style: none;')
                li  Hot Coffee
                li  Hot Decaf Coffee
                li  Iced Coffee
                li  Iced Decaf Coffee
              br
              br
              li(style='list-style: none;')
                i Bubble Tea ($1.50 extra)
    br
    br
    a(href="/form")
      button.placeOrder Place a new order
    br
    br