doctype html
html(lang='en-US')
  head
    link(rel='shortcut icon', href='/static/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/css/form.css')
    title Dado Tea Lunch Special
  body
    header
      article
        h1
          | Dado Tea Lunch Special
        // Menu header
        p
          | Monday through Friday
          br
          | 				11am - 3pm
          br
          | 				$9.95 plus tax
        p
          | Includes sandwich, snack, and drink.
    each order in orders
      if order.orderName || order.orderType
        // Order Information section
        form.form(method='GET', action='/orderConfirmation')
          fieldset
            legend Order Information
            input#orderName.orderName(type='hidden', name='orderId', value=order._id)
            label(for='orderName') Name
            br
            input#orderName.orderName(type='text', name='orderName', maxlength='100', value=order.orderName, required='')
            br
            br
            label(for='orderDescription') Special Requests
            br
            input#orderDescription.orderDescription(type='text', name='orderDescription', value=order.orderDescription, maxlength='100')
            br
            br
            if order.orderType === 'Here'
              input#orderTypeHere(type='radio', name='orderType', value='Here', required='' checked)
            else
              input#orderTypeHere(type='radio', name='orderType', value='Here', required='')
            label(for='orderTypeHere') Here
            br
            if order.orderType === 'To Go'
              input#orderTypeToGo(type='radio', name='orderType', value='To Go', required='' checked)
            else
              input#orderTypeToGo(type='radio', name='orderType', value='To Go', required='')
            label(for='orderTypeToGo') To Go
          br
          // Sandwich section
          fieldset
            legend Sandwiches
            p.sectionHeader Monday
            if order.sandwichName === 'Tomato Mozzarella'
              input#sandwichTomatoMozzarella(type='radio', name='sandwichName', value='Tomato Mozzarella' checked)
            else
              input#sandwichTomatoMozzarella(type='radio', name='sandwichName', value='Tomato Mozzarella')
            label(for='sandwichTomatoMozzarella') Tomato Mozzarella
            br
            if order.sandwichName === 'Chicken Salad'
              input#sandwichChickenSalad(type='radio', name='sandwichName', value='Chicken Salad' checked)
            else
              input#sandwichChickenSalad(type='radio', name='sandwichName', value='Chicken Salad')
            label(for='sandwichChickenSalad') Chicken Salad
            p.sectionHeader Tuesday
            if order.sandwichName === 'Greek Salad Wrap'
              input#sandwichGreekSaladWrap(type='radio', name='sandwichName', value='Greek Salad Wrap' checked)
            else
              input#sandwichGreekSaladWrap(type='radio', name='sandwichName', value='Greek Salad Wrap')
            label(for='sandwichGreekSaladWrap') Greek Salad Wrap
            br
            if order.sandwichName === 'Toto Wrap'
              input#sandwichTotoWrap(type='radio', name='sandwichName', value='Toto Wrap' checked)
            else
              input#sandwichTotoWrap(type='radio', name='sandwichName', value='Toto Wrap')
            label(for='sandwichTotoWrap') Toto Wrap
            p.sectionHeader Wednesday
            if order.sandwichName === 'Red Pepper Hummus'
              input#sandwichRedPepperHummus(type='radio', name='sandwichName', value='Red Pepper Hummus' checked)
            else
              input#sandwichRedPepperHummus(type='radio', name='sandwichName', value='Red Pepper Hummus')
            label(for='sandwichRedPepperHummus') Red Pepper Hummus
            br
            if order.sandwichName === 'Roasted Turkey'
              input#sandwichRoastedTurkey(type='radio', name='sandwichName', value='Roasted Turkey' checked)
            else
              input#sandwichRoastedTurkey(type='radio', name='sandwichName', value='Roasted Turkey')
            label(for='sandwichRoastedTurkey') Roasted Turkey
            p.sectionHeader Thursday
            if order.sandwichName === 'Carrot-Ginger Hummus Wrap'
              input#sandwichCarrotGingerHummusWrap(type='radio', name='sandwichName', value='Carrot-Ginger Hummus Wrap' checked)
            else
              input#sandwichCarrotGingerHummusWrap(type='radio', name='sandwichName', value='Carrot-Ginger Hummus Wrap')
            label(for='sandwichCarrotGingerHummusWrap') Carrot-Ginger Hummus Wrap
            br
            if order.sandwichName === 'Egg Salad'
              input#sandwichEggSalad(type='radio', name='sandwichName', value='Egg Salad' checked)
            else
              input#sandwichEggSalad(type='radio', name='sandwichName', value='Egg Salad')
            label(for='sandwichEggSalad') Egg Salad
            p.sectionHeader Friday
            if order.sandwichName === 'Dado Wrap'
              input#sandwichDadoWrap(type='radio', name='sandwichName', value='Dado Wrap' checked)
            else
              input#sandwichDadoWrap(type='radio', name='sandwichName', value='Dado Wrap')
            label(for='sandwichDadoWrap') Dado Wrap
            br
            if order.sandwichName === 'Tuna Salad'
              input#sandwichTunaSalad(type='radio', name='sandwichName', value='Tuna Salad' checked)
            else
              input#sandwichTunaSalad(type='radio', name='sandwichName', value='Tuna Salad')
            label(for='sandwichTunaSalad') Tuna Salad
            br
            br
            hr
            br
            if order.breadType === 'Gluten Free Bread'
              input#sandwichGlutenFreeBread(type='checkbox', name='breadType', value='Gluten Free Bread' checked)
            else
              input#sandwichGlutenFreeBread(type='checkbox', name='breadType', value='Gluten Free Bread')
            label(for='sandwichGlutenFreeBread') Gluten Free Bread (75¢ extra)
            br
          br
          // Snack section
          fieldset
            legend Snack
            p.sectionHeader Snacks
            if order.snackName === 'Apple'
              input#snackApple(type='radio', name='snackName', value='Apple' checked)
            else
              input#snackApple(type='radio', name='snackName', value='Apple')
            label(for='snackApple') Apple
            br
            if order.snackName === 'Banana'
              input#snackBanana(type='radio', name='snackName', value='Banana' checked)
            else
              input#snackBanana(type='radio', name='snackName', value='Banana')
            label(for='snackBanana') Banana
            br
            if order.snackName === 'Potato Chips'
              input#snackPotatoChips(type='radio', name='snackName', value='Potato Chips' checked)
            else
              input#snackPotatoChips(type='radio', name='snackName', value='Potato Chips')
            label(for='snackPotatoChips') Potato Chips
          br
          // Drink section
          fieldset
            legend Drink
            p.sectionHeader Drinks
            select#drinkType(name='drinkName')
              optgroup(label='Black Tea')
                if order.drinkName === 'Hot Black Tea - Keemun'
                  option(value='Hot Black Tea - Keemun' selected) Hot Black Tea - Keemun
                else
                  option(value='Hot Black Tea - Keemun') Hot Black Tea - Keemun
                if order.drinkName === 'Hot Black Tea - Decaf Keemun'
                  option(value='Hot Black Tea - Decaf Keemun' selected) Hot Black Tea - Decaf Keemun
                else
                  option(value='Hot Black Tea - Decaf Keemun') Hot Black Tea - Decaf Keemun
                if order.drinkName === 'Iced Black Tea - Keemun'
                  option(value='Iced Black Tea - Keemun' selected) Iced Black Tea - Keemun
                else
                  option(value='Iced Black Tea - Keemun') Iced Black Tea - Keemun
                if order.drinkName === 'Iced Black Tea - Decaf Keemun'
                  option(value='Iced Black Tea - Decaf Keemun' selected) Iced Black Tea - Decaf Keemun
                else
                  option(value='Iced Black Tea - Decaf Keemun') Iced Black Tea - Decaf Keemun
              optgroup(label='Green Tea')
                if order.drinkName === 'Hot Green Tea - Sencha'
                  option(value='Hot Green Tea - Sencha' selected) Hot Green Tea - Sencha
                else
                  option(value='Hot Green Tea - Sencha') Hot Green Tea - Sencha
                if order.drinkName === 'Hot Green Tea - Decaf'
                  option(value='Hot Green Tea - Decaf' selected) Hot Green Tea - Decaf
                else
                  option(value='Hot Green Tea - Decaf') Hot Green Tea - Decaf
                if order.drinkName === 'Iced Green Tea - Sencha'
                  option(value='Iced Green Tea - Sencha' selected) Iced Green Tea - Sencha
                else
                  option(value='Iced Green Tea - Sencha') Iced Green Tea - Sencha
                if order.drinkName === 'Iced Green Tea - Decaf'
                  option(value='Iced Green Tea - Decaf' selected) Iced Green Tea - Decaf
                else
                  option(value='Iced Green Tea - Decaf') Iced Green Tea - Decaf
              optgroup(label='Coffee')
                if order.drinkName === 'Hot Coffee'
                  option(value='Hot Coffee' selected) Hot Coffee
                else
                  option(value='Hot Coffee') Hot Coffee
                if order.drinkName === 'Hot Decaf Coffee'
                  option(value='Hot Decaf Coffee' selected) Hot Decaf Coffee
                else
                  option(value='Hot Decaf Coffee') Hot Decaf Coffee
                if order.drinkName === 'Iced Coffee'
                  option(value='Iced Coffee' selected) Iced Coffee
                else
                  option(value='Iced Coffee') Iced Coffee
                if order.drinkName === 'Iced Decaf Coffee'
                  option(value='Iced Decaf Coffee' selected) Iced Decaf Coffee
                else
                  option(value='Iced Decaf Coffee') Iced Decaf Coffee
              optgroup(label='Bubble Tea ($1.50 extra)')
                if order.drinkName === 'Bubble Tea'
                  option(value='Bubble Tea' selected) Bubble Tea
                else
                  option(value='Bubble Tea') Bubble Tea
            br
            br
            hr
            br
            if order.drinkSize === 'Large Drink'
              input#drinkLarge(type='checkbox', name='drinkSize', value='Large Drink' checked)
            else
              input#drinkLarge(type='checkbox', name='drinkSize', value='Large Drink')
            label(for='drinkLarge') Large Drink (75¢ extra)
            br
          br
          input.updateOrder(type='submit', value='Update Order')
      else
        b
          h3
          | Record not found
        br
        br
    a(href="/orders" style='padding-left: 1%;')
      button.placeOrder Cancel
